<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="KEY_GOOGLE" value="AIzaSyAf7zCM2RgxF_y0s1HGQA8TPKb9o7AiXb0" />
    <add key="KEY_BING" value="74e21242af1b472f87c42fdf2265deff" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>